.row
  .col-lg-12
    .news-item.show
      %h1= person.fullname_with_prefix

      - if person.preview_picture.present?
        %img.img-responsive.bottom-margin-2{:alt => person.preview_picture.description, :src => person.preview_picture.image.url, :title => person.preview_picture.description}/
        
      .item-body= mu(person, :description)