- content_for :meta_description, @resource.fullname_with_prefix
- content_for :title, @resource.fullname_with_prefix

= render @resource

.row
  .col-lg-12
    .page-actions
      = bootstrap_button_group do
        = bootstrap_button(to: :back, context: :default) do
          = t('.back')